<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cart.css">
</head>

<body style="background-color: #f0f0f0;">

    {{> header}}

    <section>
        <div class="cartempty" style="text-align: center;">
            <i class="cartnew-empty"><img src="../images/cart-empty.png"></i>
            <p style="padding: 12px;">Không có sản phẩm nào trong giỏ hàng</p>
            <a href="../home" class="backhome">Về trang chủ</a>
            <p style="font-size: 14px; padding: 12px;">Khi cần trợ giúp vui lòng gọi <a href="tel:18001060;">0968.904.962</a>
                hoặc <a href="">quanghavan29@gmail.com</a> (7h30 - 22h)</p>
        </div>
    </section>

</body>

</html>